#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #22ff00);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #e100ffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 36px;

}

.social-media-icons a {
  color: #099dd8; /* Change this to the color you want for the icons */
  
}

.social-media-icons a:hover {
  color: blue; /* Change this to the hover color you want for the icons */
  filter: drop-shadow(0 0 2em #22ff00);
}

.bungee-inline-regular {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
}


